@media  only screen and (max-width: 1070px) {

    .container{
        padding-top: 48px;
        padding-bottom: 48px;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
    
}